.productosCarrito{
    padding-top: 15px;
    background-color: black;
    color: whitesmoke;
    .cartScreen{
        display: flex;
        flex-direction: row;
    }
    .productos{
        display: flex;
        flex-direction: row;
        .miBtn{
            .trash{
                color: whitesmoke;
            }
        }
    } 
}

.btnVolver{
    text-decoration: none;
    margin-bottom: 20px;
    padding: 10px;
    background-color:  rgb(26, 25, 25);
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 05px;
    width: 20rem;
}
.btnVolver:hover{
    text-decoration: none;
    text-decoration-line: none;
    margin-bottom: 20px;
    padding: 10px;
    background-color:  rgb(51, 49, 49);
    color: white;
    border: 1px solid black;
    border-radius: 05px;
    width: 20rem;
}